.hero {
    background-image: url("./assets/images/hero.jpg");
    background-size: cover;
}

.brand-text {
    font-family: "Circular Std-Medium", Helvetica;
}

.category-text {
    background: linear-gradient(180deg, #000000 0%, #000000 100%);
    opacity: 0.8;
    backdrop-filter: blur(6px);
}

.banner {
    background-image: url("./assets/images/zouq-banner.png");
}

@media screen and (max-width: 425px) {
    .banner {
        background-image: url("./assets/images/mobile-banner.png");
    }
}
